@import "https://necolas.github.io/normalize.css/";

@mixin respond-to($media) {
    @if $media == mobile {
      @media only screen and (max-width: 375px) { @content; }
    }
    @else if $media == wide-mobile {
      @media only screen and (min-width: 376px) and (max-width: 767px) { @content; }
    }
    @else if $media == tablets {
      @media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
    }
    @else if $media == laptop {
        @media only screen and (min-width: 1024px) and (max-width: 1439px) { @content; }
      }
    @else if $media == wide-laptop {
        @media only screen and (min-width: 1440px)  { @content; }
      }
}

@mixin justify-content($property) {
  -webkit-justify-content: $property;
  -moz-justify-content: $property;
  -ms-justify-content: $property;
  justify-content: $property;
}
@mixin align-items($property) {
  -webkit-align-items: $property;
  -moz-align-items: $property;
  -ms-align-items: $property;
  align-items: $property;
}
@mixin flex-direction($property) {
  -webkit-flex-direction: $property;
  -moz-flex-direction: $property;
  -ms-flex-direction: $property;
  flex-direction: $property;
}
@mixin flex-wrap($property) {
  -webkit-flex-wrap: $property;
  -moz-flex-wrap: $property;
  -ms-flex-wrap: $property;
  flex-wrap: $property;
}
@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}
@font-face {
    font-family: 'Dosis';
    src: url("../fonts/Dosis-VariableFont_wght.ttf")
}
@font-face {
  font-family: 'Dosis Light';
  src: url("../fonts/Dosis-VariableLightFont_wght.ttf")
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Light.ttf")
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/OpenSans-Italic.ttf")
}
@font-face {
    font-family: 'Freehand';
    src: url("../fonts/18805.ttf")
}

$main-color: #45b887;
$main-font: 'Dosis';
$light-font: 'Dosis Light';
$theme-font: 'Freehand';
$paragraph-font: 'Open Sans';
$italic-font: 'Open Sans Italic';
$paragraph-size: 16px;
$logo-font: 36px;
$light-color: #ffffff;
$dark-color: #282828;

* {
    box-sizing: border-box;
}
body{
  margin: 0;
}
.header{
  &-background{
    position: absolute;
    z-index: 1;
    top: -10%;
    max-width: 100%;
  }
    &_menu{
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: -moz-flex;
      display: flex;
      position: relative;
      z-index: 10;
      @include justify-content(center);
      background-color: $main-color;
      &-logo{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;
        @include align-items(center);
        &-item{
          width: 30px;
          height: 30px;
          @include border-radius(50%);
          border: 3px solid $light-color;
        }
        &-item img{
          width: 25px;
          padding: 6px;
        }
      }
      &-title{
        font-family: $main-font;
        font-size: $logo-font;
        color: $light-color;
        text-transform: uppercase;
        margin-left: 20px;
      }
      &-navigation{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;
        list-style-type: none;
        
      }
      &-navigation a{
        color: $light-color;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        padding:  10px;
        font-size: $paragraph-size;
        font-family: $main-font;
        &:hover{
          text-decoration: underline;
        }
      }
      &-navigation li{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;
        @include align-items(center);
      }
      .logo-item{
        border: 2px solid $light-color;
        @include border-radius(50%);
        width: 17px;
        height: 15px;
      }
      .logo-item img{
        width: 13px;
        padding: 3px;
      }
    }
    &_title{
      text-align: center;
      text-transform: uppercase;
      color: $light-color;
      font-family: $main-font;
      font-size: 48px;
      padding-top: 40px;
      position: relative;
      z-index: 10;
  }
  &_image-container{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    @include justify-content(space-between);
    position: relative;
    z-index: 10;
  }
  .first-block img{
    position: relative;
    &:first-child{
      left: 450px;
      top: 0;
    }
    &:nth-child(2){
      left: 280px;
      top: 35px;
    }
    &:last-child{
      left: 300px;
      top: 90px;
    }
  }
  .second-block img{
    position: relative;
    &:first-child{
      right: 350px;
      top: 0;
    }
    &:nth-child(2){
      right: 350px;
      top: 50px;
    }
    &:last-child{
      right: 430px;
      top: 120px;
    }
  }
}
.dots{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    @include justify-content(center);
}
.dots img{
  padding: 10px;
}
.main{
  margin-top: 180px;
  &-content{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex; 
    margin-top: 50px;
    @include align-items(center);
    @include justify-content(center);
    &_images-lamp img{
      position: relative;
      &:first-child{
        top: 90px;
        left: 190px;
      }
      &:nth-child(2){
        top: -15px;
        left: 0;
      }
      &:nth-child(3){
        top: -45px;
        left: 150px;
      }
      &:nth-child(4){
        top: 120px;
        left: 120px;  
      }
      &:last-child{
        top: 90px;
        left: -170px;
      }
    }
    &_images-lamp{
      margin-left: -250px;
      margin-top: -100px;
    }
    &_first-paragraph{
      position: relative;
      left: 10%;
    }
    &_second-paragraph{
      position: relative;
    }
    &_title{
      font-family: $light-font;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 40px;
    }
    &_text{
      font-family: $paragraph-font;
      font-size: $paragraph-size;
      line-height: 1.5;
    }
    &_button{
      outline: none;
      width: 144px;
      height: 40px;
      cursor: pointer;
      background-color: $light-color;
      color: $dark-color;
      border: 1px solid $dark-color;
      @include border-radius(10px);
      font-family: $main-font;
      font-size: $paragraph-size;
      text-transform: uppercase;
      &:hover{
        color: $light-color;
        border: 1px solid $light-color;
        background-color: $dark-color;
      }
    }
    &_images-fire img{
      position: relative;
      &:first-child{
        left: 390px;
        bottom: 100px;
      }
      &:nth-child(2){
        top: 20px;
        left: 120px;
      }
      &:nth-child(3){
        left: 90px;
        bottom: 60px;
      }
      &:nth-child(4){
        bottom: 120px;
        left: 160px;
      }
      &:nth-child(5){
        top: 80px;
        left: 40px;
      }
      &:nth-child(6){
        left: 200px;
      }
      &:last-child{
        top: 30px;
        right: 10px;
      }
    }
  }
  &_statistics-container{ 
    background-color: $main-color;
    color:$light-color;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  &_statistics-title{
    font-family: $theme-font;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    margin: 0;
  }
  &_statistics-block{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    font-family: $main-font;
    margin-top: 30px;
    & h4{
      font-size: 60px;
      margin: 20px;
      font-weight: 100;
    }
    & p{
      font-size: 24px;
      font-weight: 100;
    }
  }
  .mark-logo{
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    border: 3px solid $light-color;
    margin-left: 20px;
    & img{
      width: 15px;
      padding: 3px;
    }
  }
  &_partnership{
    margin: 0 300px;
    &-top{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex; 
    @include justify-content(space-between);
    @include align-items(center);
    }
    &-title{
      font-family: $main-font;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 100;
      margin-bottom: 0;
    }
    &-subtitle{
      font-family: $italic-font;
      color: #c9c9c9;
      font-size: 12px;
    }
    &-gallery{
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: -moz-flex;
      display: flex; 
      @include flex-wrap(wrap);
      &-item{
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:nth-child(2){
          background-color: rgb(250, 250, 250);
        }
        & img{
          padding: 50px;
        }
      }
    }
  }
  .arrows-block button{
    background-color: $light-color;
    border: 1px solid $dark-color;
    @include border-radius(10px);
    width: 35px;
    height: 35px;
    margin: 0 7px;
    cursor: pointer;
    outline: none;
  }
  &_projects{
    margin: 80px 300px;
    &-heading{
      @extend .main_partnership-top;
      margin-top: 0;
      & h3{
        @extend .main_partnership-title;
        margin-bottom: 40px!important;
      }
    }
    .buttons-container button{
      background-color: $light-color;
      border: 1px solid $dark-color;
      @include border-radius(10px);
      width: 60px;
      height: 30px;
      margin: 0 7px;
      cursor: pointer;
      outline: none;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $main-font;
      &:hover{
        background-color: $dark-color;
        color: $light-color;
        border: 1px solid $light-color;
      }
    }
    &-gallery{
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: -moz-flex;
      display: flex; 
      @include flex-wrap(wrap);
      & img{
        width: 240px;
        height: 220px;
        margin: 15px;;
      }
    }
    &-button{
      margin: 0 auto;
      display: block;
      width: 170px;
      height: 40px;
      @include border-radius(10px);
      text-transform: uppercase;
      font-family: $main-font;
      font-size: $paragraph-size;
      border: 1px solid $dark-color;
      background-color: $light-color;
      color: $dark-color;
      margin-top:  15px;
      outline: none;
      cursor: pointer;
      &:hover{
        background-color: $dark-color;
        color: $light-color;
        border: 1px solid $light-color;
      }
    }
  }
}
.footer{
  margin: 0 300px;
  .contact-form{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex; 
    @include justify-content(space-between);
    @include align-items(center);
    & h3{
      font-size: $logo-font;
      font-family: $main-font;
      text-transform: uppercase;
      margin: 10px;
    }
    & p{
      font-size: 14px;
      font-family: $paragraph-font;
    }
    &_info{
      & h4{
        font-family: $main-font;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
      }
      & a{
        text-decoration: none;
        color: $dark-color;
        font-family: $paragraph-font;
        font-size: 24px;
      }
    }
    &_logo{
      display: flex;
      @include align-items(center);
      &-item{
      @include border-radius(50%);
      border: 2px solid $dark-color;
      width: 25px;
      height: 25px;
      & img{
        padding: 7px;
      }
      }
  }
  }
  .social-networks{
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: -moz-flex;
      display: flex; 
      @include justify-content(space-between);
      @include align-items(center);
      & a{
        text-decoration: none;
      }
  }

  .date-container{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex; 
    @include align-items(center);
  }
  &_logo{
    @include border-radius(50%);
      border: 2px solid $dark-color;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      & img{
        padding: 2px;
      }
  }

  .anchor{
    text-decoration: none;
    color: $dark-color;
    font-size: 14px;
    font-family: $main-font;
    text-transform: uppercase;
  }
}